@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background: url(RECURSOS/fondo\ musica.gif);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
            color: antiquewhite; 
            font-family: "Lato", serif;
            font-weight: 700;
             font-style: normal;  
        }
        body::before{
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); 
            backdrop-filter: blur(3px); 
            z-index: -1; 
            top: 0;

        }
        table {
            width: 80%;
            margin-top: 120px; 
            margin-left: auto; 
            margin-right: auto; 
            border-collapse: collapse;
            background-color: rgba(255, 255, 255, 0.164);
            border-radius: 15px;
        }

        td.title {
            background-color: #2f4858bd;
            color: #4fa1d4;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            padding: 20px;
            text-shadow: 2px 2px 6px rgb(1, 20, 29);
        }

        td.title2 {
            color: #2bd864;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            padding: 20px;
            text-shadow: 2px 2px 6px rgb(0, 14, 4);
        }

        td.poster {
            text-align: center;
            padding: 20px;
        }

        td.poster img {
            width: 100%;
            max-width: 300px; 
            height: auto;
            border-radius: 10px;
        }

        td.personajes {
            text-align: center;
            padding: 20px;
        }

        td.personajes img {
            width: 150px; 
            height: auto;
            border-radius: 10px;
        }

        td.texto {
            padding: 20px;
            font-size: 18px;
            text-align: justify;
        }
    
        td.personajes:hover {
            background-color: #7abd7a71;
            transition: background-color 0.3s;
        }

        .LINKS-MUSICA img {
            border-radius: 60%;
            width: 50px;
            margin-left: 100px;   
        }

        .LINKS-MUSICA img:hover {
            transform: scale(1.2);
            background-color: aliceblue;
        }


  